*{
  color: white;
}

@font-face {
  font-family: Akros;
  src: url("./fonts/AkrosRegular.woff") format("woff"), url("./fonts/AkrosRegular.woff2")  format("woff2");
}
@font-face {
  font-family: Monarque;
  src: url("./fonts/Monarque-Italic.woff") format("woff");
}

.akros {
  font-family: Akros;
  font-weight: normal;
  font-style: normal;
}

a {

  cursor: pointer;

}

.monarque {
  font-family: Monarque;
  font-weight: normal;
  font-style: italic;
}


.primary {
  color: #1a1a1a;
}

.border-keep {
  outline: 1px solid #1a1a1a;
}

.display {
  margin-right: 50px;
  margin-left: 50px;
}
.medium{
  font-size: 30px;
}

.box {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding-top: 20px;
  perspective: 1000px;

}



body::-webkit-scrollbar {
  width: 5px; 
}

body::-webkit-scrollbar-thumb {
  background-color: #1a1a1a; 
  border-radius: 20px; 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#E5E3DF;
  margin-left: 40px;
  margin-right: 40px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.border-black {
  outline: 2px solid rgb(255, 0, 0);
}

.border-blue {
  outline: 2px solid rgb(81, 116, 255);
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background: none;
}


.center-sample {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  text-align: center;
}

.home-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: none;
}

.profile-picture-label {
  position: relative;
  display: inline-block;
}

.profile-picture-label:hover .overlay {
  display: flex;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.minus{
  margin-top: -15px;
}

.title {
  font-size: 90px;
}

.length{
  width: 100%;
}

#headline-img{
  height: auto;
  max-height: 400px;
  border-radius: 50px;
}

#headline-2{
  height: auto;
  max-height: 200px;
  border-radius: 50px;
}

.spacer {
  height: 30vh;
}

.col-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.regular-text {
  font-size: 20px;
}

.regular{
  color: white;
}
.smaller-text {
  font-size: 15px;
}

#navbar-logo{

  height: 40px;
}

#curve {
  border-radius: 30vh;
}

#img-login{
  height: auto;
  width: auto;
  max-height: 100px;
}

.top {
  padding-top: 100px;
}

.login-form {
  padding-left: 50px;
  padding-right: 50px;
}


.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 15px;
  transition: background-color 0.5s;
}

.navbar-nav .nav-link {
  color: white;
  position: relative;
  transition: color 0.5s;
}

.navbar-nav .nav-link.active {
  color: white;
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #1a1a1a;
  transition: width 0.5s;
}

.navbar-nav .nav-link:hover::before,
.navbar-nav .nav-link.active::before {
  width: 100%;
}


.bottom-container {
  display: flex;
  height: 40vh;
  margin-top: 15vh;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: none;
  border-top: 2px solid white;
}

.column-content {
  padding: 15px; 
  background-color: transparent;
  border: none;
  /* border-top: 2px solid white; */
  text-align: center;
  margin-top: 10px;
}

.column-content h3 {
  margin-top: 0px;
}

.column-content p {
  margin-top: 10px;
}

.title-2 {
  font-size: 60px;
  text-align: center;
}

.custom {
  color:rgb(255, 255, 255);
  background-color: #1a1a1a;
  text-decoration: none;
  margin-top: 30px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.5s;
}

.custom-edit {
  /* color:black; */
  /* background-color: white; */
  color: rgb(255, 255, 255);
  background-color: #1a1a1a;
  text-decoration: none;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.5s;
}

.custom-edit:hover {
  transform: translateY(-10px);

}


.custom-read {
  color:black;
  background-color: white;
  text-decoration: none;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.5s;
}

.custom-view,
.custom-view-2 {
  color:rgb(255, 255, 255);
  background-color: #1a1a1a;
  text-decoration: none;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 7px;
  padding-bottom: 7px;
  transition: 0.5s;
}

input:focus, select:focus, button:focus {
  outline: none;
  box-shadow: none;
  border-color: inherit;
}

.search-input-group input:focus,
.search-input-group select:focus,
.search-input-group button:focus {
    outline: none;
    box-shadow: none;
    border-color: inherit;
}



.custom:hover,
.custom-read:hover{
  color: white;
  background-color: #555;
  border: 1px solid white;

}

.custom-view:hover{
  color: white;
  background-color: #555;
  border: 1px solid rgb(0, 0, 0);
  cursor: pointer;
  
}

.disable {
  overflow: hidden;
}

.up{
  margin-top: -30px;
} 

.right {
  margin-right: 15px;
}

.last-container{
  margin-top: 50px;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  width: 100%;
  background: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: none;
  margin-top: -20px;
  margin-bottom: 50px;
}

.left {
  margin-left: 30px;
}

.link {
  text-decoration: none;
  color: white;
}

.reduce {
  margin-top: -45px;
}


.profile-picture-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.profile-picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-picture-placeholder {
  width: 100%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hover-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
}

.profile-picture-container:hover .hover-overlay {
  opacity: 1;
}

.upload {
  border-radius: 5px;
}

.upload-cont{
  margin-top: 50px;
  padding-top: 50px;
border-top: 1px solid white;
}

.actual-upload{
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-out;
  cursor: pointer;
  outline: 1px dashed black;
  outline-offset: 2px;
  height: 300px;
}

.uploaded{
  margin: 10px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.profile-pic-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.profile-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-img-2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-name {
  font-size: 18px;
  margin: 5px 0;
}

.profile-position {
  font-size: 14px;
  color: #aaaaaa;
}

.marginleft{
  margin-left: 20px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px; 
}



.horizontal-line {
  width: 100%; 
  height: 1px;
  background-color: rgb(27, 27, 27); 
  margin-top: 30px; 
  opacity: 0.8; 
}


.profile-cards-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 70px;
  padding: 20px;
}


.profile-card {
  background-color: white;
  color: black;
  width: 350px;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 45px;
}


.social-button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.social-button:hover {
  background-color: #555;
}


.pdf-container::-webkit-scrollbar {
  height: 8px;
}

.pdf-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.pdf-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.pdf-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.interest-pill {
  display: inline-block;
  background-color: #1a1a1a;
  color: white;
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
  transition: 0.5s;
  cursor: default;
}

.interest-pill-black {
  display: inline-block;
  background-color: #000000;
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  border-radius: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.9em;
  transition: 0.5s;
  cursor: default;
}

.interest-pill:hover{
  transform: translateY(-10px);
  background-color: #888;
  color: white;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='primary' viewBox='0 0 16 16'%3E%3Cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L6.707 7l4.647 4.646a.5.5 0 0 1-.708.708l-5-5a.5.5 0 0 1 0-.708l5-5a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=UTF8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='primary' viewBox='0 0 16 16'%3E%3Cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l5 5a.5.5 0 0 1 0 .708l-5 5a.5.5 0 1 1-.708-.708L9.293 7l-4.647-4.646a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
}

.carousel-indicators [data-bs-target] {
  background-color: black;
  top: 40px;
  position: relative;
}

.scroller {
  max-width: 600px;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 20s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.tag-list li {
  padding: 1rem;
  background: var(--clr-primary-400);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}


.fade-in {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



label {
  pointer-events: none;
}

button {
  pointer-events: all;
}

.secondary {
  font-size: 25px;
}
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */
/* Media Queries */

@media only screen and (max-height: 768px) {
  .title {
    font-size: 70px;
  }

  .column-content h3{
    font-size: 20px;
  }
}


@media only screen and (max-height: 670px) {
  .title {
    font-size: 50px;
  }

  .secondary{
    font-size: 20px;
  };
  
}

@media only screen and (max-width: 1015px) {
  .column-content h3{
    font-size: 18px;
  }

  .profile-img {
    padding: 20px;
    border-radius: 50%;

  }

  .profile-img-2 {
    border-radius: 50%;

  }

}



@media only screen and (max-width: 577px) {
 .title {
  font-size: 50px;
 }

}


