/* Team.css */
.team-card {
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 16px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
  transition: all 0.3s ease;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  height: auto;
  min-height: 300px;
  perspective: 1000px;
}


.team-card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  transform: translateY(-5px);
}

.member-bio {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-in-out, opacity 1s ease-in-out;
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
  color: #2a2a2a;
}
.team-card:hover .member-bio {
  max-height: 200px;
  opacity: 1;
  color: "#2a2a2a";
}

.profile-pic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 15px;
  border: 3px solid #f0f0f0;
}

.profile-img {
  width: 111px;
  height: 111px;
  object-fit: cover;
  object-position: center center;
  transform: scale(1.05);
  margin-top: 16px;
  margin-left: 10px;
}

.profile-name {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
  color: #2a2a2a;
}

.profile-position {
  color: #7f8c8d;
  font-size: 14px;
  margin-bottom: 5px;
}

.social-links {
  margin-top: 15px;
}

.social-links a {
  transition: transform 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.2);
}